<html>
<title>
	JUETHacks-Mentors
</title>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="https://i.imgur.com/zEXjzja.png">
	<link rel="stylesheet" type="text/css" href="css/team.css">
	<link rel="icon" type="image/png" href="https://i.imgur.com/zEXjzja.png">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<!-- <link rel="stylesheet" type="text/css" href="css/create-account.css">-->
	<link rel="stylesheet" type="text/css" href="css/resume.css"> 

</head>
<body>
	
	<div class="container">
		<section id="image-header">
			<a href="index.html">
				<img class="back" src="img/back-arrow.png" class="logo" />
				<img class="logo" src="img/hackathonlogo.png" class="logo" />
			</a>
		</section>
		<div class="row">
			<div class="col-md-6">
				<div class="individual">
			
					<div class="mentor-image">
						<img src="./img/mark.jpg" alt="mark-zuckerberg image">
					</div>
						<div class="dropdown">
							<button class="dropbtn"><h5>Mark Zuckerberg</h5></button>
							<div class="dropdown-content">
								CEO at Facebook, he is a very experienced developer, and a recognized mentor for international Hackathons.
								<div class="social-handles">
									<i class="fa fa-twitter" aria-hidden="true"></i>twitter handle<br>
									<i class="fa fa-instagram" aria-hidden="true"></i>instagram handle<br>
									<i class="fa fa-github" aria-hidden="true"></i>github handle<br>
							
								</div>
							</div>
						</div>
					
				</div>
			</div>
		
			<div class="col-md-6">
				<div class="individual">		
					<div class="mentor-image">
						<img src="./img/mark.jpg" alt="mark-zuckerberg image">
					</div>
						<div class="dropdown">
							<button class="dropbtn"><h5>Mark Zuckerberg</h5></button>
							<div class="dropdown-content">
								CEO at Facebook, he is a very experienced developer, and a recognized mentor for international Hackathons.
								<div class="social-handles">
									<i class="fa fa-twitter" aria-hidden="true"></i>twitter handle<br>
									<i class="fa fa-instagram" aria-hidden="true"></i>instagram handle<br>
									<i class="fa fa-github" aria-hidden="true"></i>github handle<br>
							
								</div>
							</div>
						</div>
					
				</div>
			</div>
			<div class="col-md-6">
				<div class="individual">		
					<div class="mentor-image">
						<img src="./img/mark.jpg" alt="mark-zuckerberg image">
					</div>
						<div class="dropdown">
							<button class="dropbtn"><h5>Mark Zuckerberg</h5></button>
							<div class="dropdown-content">
								CEO at Facebook, he is a very experienced developer, and a recognized mentor for international Hackathons.
								<div class="social-handles">
									<i class="fa fa-twitter" aria-hidden="true"></i>twitter handle<br>
									<i class="fa fa-instagram" aria-hidden="true"></i>instagram handle<br>
									<i class="fa fa-github" aria-hidden="true"></i>github handle<br>
							
								</div>
							</div>
						</div>
					
				</div>
			</div>
			<div class="col-md-6">
				<div class="individual">		
					<div class="mentor-image">
						<img src="./img/mark.jpg" alt="mark-zuckerberg image">
					</div>
						<div class="dropdown">
							<button class="dropbtn"><h5>Mark Zuckerberg</h5></button>
							<div class="dropdown-content">
								CEO at Facebook, he is a very experienced developer, and a recognized mentor for international Hackathons.
								<div class="social-handles">
									<i class="fa fa-twitter" aria-hidden="true"></i>twitter handle<br>
									<i class="fa fa-instagram" aria-hidden="true"></i>instagram handle<br>
									<i class="fa fa-github" aria-hidden="true"></i>github handle<br>
							
								</div>
							</div>
						</div>
					
				</div>
			</div>
		</div>	
		 
	</div>
</body>
</html>
<div class="row">
	<div class="col-md-6">
<div class="col-md-6">